<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recpies</button>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a *ngFor="let Recipe of Recipes;" href="#" class="list-group-item clearfix">
            <div class="float-left">
                <h4 class="list-group-item-heading">{{Recipe.name}}</h4>
                <p class="list-group-item-text">{{Recipe.desc}}</p>
            </div>
                <span class="float-right">
                  <img src="{{Recipe.imagePath}}" alt="" class="img-responsive" style="max-height: 50px;">
                </span>
        </a>
        <app-recipes-item>
    
        </app-recipes-item>
    </div>
</div>

